<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="AccessTokenSecret" value="OSrgP0jDTDRdr/7haQGP4F4GOMFZgRp0Q8XGM7HtzEtNZtRDRv1JPSpmmWxfUD4r+mik+LVgcx7Dht7oIOcJNy5rPQIglvK8WWLrhqNJ6FX9Zz8VjHINj4wWVdnE4+QMkMV6/1mEwWyb5dj0IIC0d0pCZSy4V3kdjOrmZYmUqt0=" />
    <add key="RefreshTokenSecret" value="1s0+tq5tPMaKXlyw8SLZUHzd5lXpI4PufpzTe03TJ8CSSccRrCdjR3npC3njqIk/nIYv2k3XpHgu3O+4Tif2ojzRSHf9xco74HKvUYkYq1d7eobViwKqT+Y+5pz/nmCOAL0OslSUO85UfD06FGwQyqJJsmpHmGNAordsmyz5yDM=" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>